resource "hpe_morpheus_network_router" "example" {
  name                   = "{{.Name}}"
  type_id                = {{.TypeId}}
  group_id               = {{.GroupId}}
  network_integration_id = {{.NetworkIntegrationId}}

  config_nsx_gateway_tier1 = {
    ip_management_type = "dhcpLocal"
  }
}
