resource "hpe_morpheus_network_pool" "example" {
  name           = "{{.Name}}"
  type_id        = {{.TypeId}}
  subnet_address = "{{.SubnetAddress}}"
  netmask        = "{{.Netmask}}"
  gateway        = "{{.Gateway}}"
  dns_domain     = "{{.DnsDomain}}"

  ip_ranges = {
    starting_address = "{{.StartingAddress}}"
    ending_address   = "{{.EndingAddress}}"
  }
}
