resource "hpe_morpheus_app_blueprint_cloud_formation" "example" {
  name                   = "{{.Name}}"
  description            = "{{.Description}}"
  category               = "{{.Category}}"
  install_agent          = {{.InstallAgent}}
  cloud_init_enabled     = {{.CloudInitEnabled}}
  capability_iam         = {{.CapabilityIam}}
  capability_named_iam   = {{.CapabilityNamedIam}}
  capability_auto_expand = {{.CapabilityAutoExpand}}
  source_type            = "{{.SourceType}}"
  blueprint_content      = <<TFEOF
{{.BlueprintContent}}
TFEOF
}
