resource "hpe_morpheus_app_blueprint_terraform" "example" {
  name              = "{{.Name}}"
  description       = "{{.Description}}"
  category          = "{{.Category}}"
  source_type       = "{{.SourceType}}"
  spec_template_ids = {{.SpecTemplateIds}}
  terraform_version = "{{.TerraformVersion}}"
  terraform_options = "{{.TerraformOptions}}"
  tfvar_secret      = "{{.TfvarSecret}}"
}
