resource "hpe_morpheus_price" "example" {
  name          = "{{.Name}}"
  code          = "{{.Code}}"
  tenant_id     = {{.TenantId}}
  price_type    = "{{.PriceType}}"
  software      = "{{.Software}}"
  price_unit    = "{{.PriceUnit}}"
  incur_charges = "{{.IncurCharges}}"
  currency      = "{{.Currency}}"
  cost          = {{.Cost}}
}
