resource "hpe_morpheus_option_list_manual" "tf_example_manual_option_list" {
  name        = "{{.Name}}"
  description = "{{.Description}}"
  dataset     = <<POLICY
{{.Dataset}}
POLICY
  real_time   = {{.RealTime}}
}
