data "hpe_morpheus_integration" "servicenow_prod" {
  name = {{.Name}}
}

data "hpe_morpheus_servicenow_workflow" "example" {
  name           = {{.Name}}
  integration_id = data.morpheus_integration.servicenow_prod.id
}

