resource "hpe_morpheus_network_dhcp_server" "example" {
  network_integration_id = {{.NetworkIntegrationId}}
  name              = "{{.Name}}"
  server_ip_address = "{{.ServerIpAddress}}"
  lease_time        = {{.LeaseTime}}

  config_nsxt = {
    edge_cluster = "{{.EdgeCluster}}"
    active_edge_node = "{{.ActiveEdgeNode}}"
    standby_edge_node = "{{.StandbyEdgeNode}}"
  }
}
