resource "hpe_morpheus_spec_template_cloud_formation" "tfexample_cloud_formation_spec_template_local" {
  name                   = "{{.Name}}"
  source_type            = "{{.SourceType}}"
  spec_content           = <<TFEOF
{{.SpecContent}}
TFEOF
  capability_iam         = {{.CapabilityIam}}
  capability_named_iam   = {{.CapabilityNamedIam}}
  capability_auto_expand = {{.CapabilityAutoExpand}}
}
