resource "hpe_morpheus_job_task" "example" {
  name                  = "{{.Name}}"
  enabled               = {{.Enabled}}
  labels                = {{.Labels}}
  task_id               = {{.TaskId}}
  schedule_mode         = "{{.ScheduleMode}}"
  execution_schedule_id = {{.ExecutionScheduleId}}
  context_type          = "{{.ContextType}}"
  instance_ids          = {{.InstanceIds}}
  custom_config         = "{{.CustomConfig}}"
}
