resource "hpe_morpheus_setting_whitelabel" "example" {
  enabled         = {{.Enabled}}
{{if .ApplianceName}}  appliance_name  = "{{.ApplianceName}}"
{{end}}  primary_color   = "{{.PrimaryColor}}"
  secondary_color = "{{.SecondaryColor}}"
}
