resource "hpe_morpheus_file_template" "tfexample_file_template" {
  name             = "{{.Name}}"
  labels           = {{.Labels}}
  file_name        = "{{.FileName}}"
  file_path        = "{{.FilePath}}"
  phase            = "{{.Phase}}"
  file_content     = {{if .FileContent}}{{.FileContent}}{{else}}file("${path.module}/custom.cnf"){{end}}
  file_owner       = "{{.FileOwner}}"
  setting_name     = "{{.SettingName}}"
  setting_category = "{{.SettingCategory}}"
}
