resource "hpe_morpheus_spec_template_cloud_formation" "tfexample_cloud_formation_spec_template_git" {
  name                   = "{{.Name}}"
  source_type            = "{{.SourceType}}"
  repository_id          = {{.RepositoryId}}
  version_ref            = "{{.VersionRef}}"
  spec_path              = "{{.SpecPath}}"
  capability_iam         = {{.CapabilityIam}}
  capability_named_iam   = {{.CapabilityNamedIam}}
  capability_auto_expand = {{.CapabilityAutoExpand}}
}
