resource "hpe_morpheus_job_workflow" "example" {
  name                  = "{{.Name}}"
  enabled               = {{.Enabled}}
  labels                = {{.Labels}}
  workflow_id           = {{.WorkflowId}}
  schedule_mode         = "{{.ScheduleMode}}"
  execution_schedule_id = {{.ExecutionScheduleId}}
  context_type          = "{{.ContextType}}"
  instance_ids          = {{.InstanceIds}}
  custom_options = {{.CustomOptions}}
}
