resource "hpe_morpheus_os_type_image" "example" {
  os_type_id       = {{.OsTypeId}}
  virtual_image_id = {{.VirtualImageId}}
  cloud_id         = {{.CloudId}}
  provision_type_id = {{.ProvisionTypeId}}
}
