resource "hpe_morpheus_app_blueprint_kubernetes" "tfexample_kubernetes_app_blueprint_git" {
  name           = "{{.Name}}"
  description    = "{{.Description}}"
  category       = "{{.Category}}"
  source_type    = "{{.SourceType}}"
  integration_id = {{.IntegrationId}}
  repository_id  = {{.RepositoryId}}
  version_ref    = "{{.VersionRef}}"
  working_path   = "{{.WorkingPath}}"
}
