resource "hpe_morpheus_app_blueprint_arm" "tf_example_app_arm_blueprint_git" {
  name               = "{{.Name}}"
  description        = "{{.Description}}"
  category           = "{{.Category}}"
  source_type        = "{{.SourceType}}"
  install_agent      = {{.InstallAgent}}
  cloud_init_enabled = {{.CloudInitEnabled}}
  os_type            = "{{.OsType}}"
  working_path       = "{{.WorkingPath}}"
  integration_id     = {{.IntegrationId}}
  repository_id      = {{.RepositoryId}}
  version_ref        = "{{.VersionRef}}"
}
