resource "hpe_morpheus_network_firewall_rule" "example" {
  network_integration_id = {{.NetworkIntegrationId}}
  name        = "{{.Name}}"
  direction   = "{{.Direction}}"
  policy      = "{{.Policy}}"
  enabled     = {{.Enabled}}
  description = "{{.Description}}"
  priority    = {{.Priority}}

  rule_group_id = {
    id = {{.RuleGroupId}}
  }

  sources = {
    id = [{{.SourceIds}}]
  }

  destinations = {
    id = [{{.DestinationIds}}]
  }

  scopes = {
    id = [{{.ScopeIds}}]
  }

  application = [{{.ApplicationIds}}]

  profile = [{{.ProfileIds}}]
}
