resource "hpe_morpheus_load_balancer_monitor" "nsxt" {
  load_balancer_id    = {{.LoadBalancerId}}
  name                = "{{.Name}}"
  description         = "{{.Description}}"
  monitor_type        = "{{.MonitorType}}"
  monitor_interval    = {{.MonitorInterval}}
  monitor_timeout     = {{.MonitorTimeout}}
  monitor_destination = "{{.MonitorDestination}}"
  fall_count          = {{.FallCount}}
  rise_count          = {{.RiseCount}}
  alias_port          = {{.AliasPort}}
  send_data           = "{{.SendData}}"
  send_type           = "{{.SendType}}"
  send_version        = "{{.SendVersion}}"
  receive_data        = "{{.ReceiveData}}"
  receive_code        = "{{.ReceiveCode}}"
  data_length         = {{.DataLength}}
  max_retry           = {{.MaxRetry}}
}
