resource "hpe_morpheus_task_email" "tfexample_email_git" {
  name                        = "{{.Name}}"
  code                        = "{{.Code}}"
  labels                      = {{.Labels}}
  email_address               = "{{.EmailAddress}}"
  subject                     = "{{.Subject}}"
  source                      = "{{.Source}}"
  content_path                = "{{.ContentPath}}"
  repository_id               = {{.RepositoryId}}
  version_ref                 = "{{.VersionRef}}"
  skip_wrapped_email_template = {{.SkipWrappedEmailTemplate}}
  retryable                   = {{.Retryable}}
  retry_count                 = {{.RetryCount}}
  retry_delay_seconds         = {{.RetryDelaySeconds}}
  allow_custom_config         = {{.AllowCustomConfig}}
}
