resource "hpe_morpheus_task_ruby_script" "tfexample_ruby_local" {
  name                = "{{.Name}}"
  code                = "{{.Code}}"
  labels              = [{{.Labels}}]
  source_type         = "{{.SourceType}}"
  script_content      = <<EOF
{{.ScriptContent}}
EOF
  retryable           = {{.Retryable}}
  retry_count         = {{.RetryCount}}
  retry_delay_seconds = {{.RetryDelaySeconds}}
  allow_custom_config = {{.AllowCustomConfig}}
}
