resource "hpe_morpheus_task_nested_workflow" "example" {
  name                      = "{{.Name}}"
  code                      = "{{.Code}}"
  labels                    = {{.Labels}}
  operational_workflow_id   = {{.OperationalWorkflowId}}
  operational_workflow_name = "{{.OperationalWorkflowName}}"
}
