/*
Morpheus API

Morpheus is a powerful cloud management tool that provides provisioning, monitoring, logging, backups, and application deployment strategies.  This document describes the Morpheus API protocol and the available endpoints. Sections are organized in the same manner as they appear in the Morpheus UI.

API version: 9.0.0
Contact: dev@morpheusdata.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package sdk

import (
	"bytes"
	"context"
	"errors"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)

// HostsAPIService HostsAPI service
type HostsAPIService service

type ApiAddBaremetalHostRequest struct {
	ctx                     context.Context
	ApiService              *HostsAPIService
	addBaremetalHostRequest *AddBaremetalHostRequest
}

func (r ApiAddBaremetalHostRequest) AddBaremetalHostRequest(addBaremetalHostRequest AddBaremetalHostRequest) ApiAddBaremetalHostRequest {
	r.addBaremetalHostRequest = &addBaremetalHostRequest
	return r
}

func (r ApiAddBaremetalHostRequest) Execute() (*AddBaremetalHost200Response, *http.Response, error) {
	return r.ApiService.AddBaremetalHostExecute(r)
}

/*
AddBaremetalHost Add a Baremetal Host

Add a Baremetal Host

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAddBaremetalHostRequest
*/
func (a *HostsAPIService) AddBaremetalHost(ctx context.Context) ApiAddBaremetalHostRequest {
	return ApiAddBaremetalHostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return AddBaremetalHost200Response
func (a *HostsAPIService) AddBaremetalHostExecute(r ApiAddBaremetalHostRequest) (*AddBaremetalHost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AddBaremetalHost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.AddBaremetalHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addBaremetalHostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAssignDeviceRequest struct {
	ctx                 context.Context
	ApiService          *HostsAPIService
	id                  UpdateHostIdParameter
	deviceId            int32
	assignDeviceRequest *AssignDeviceRequest
}

func (r ApiAssignDeviceRequest) AssignDeviceRequest(assignDeviceRequest AssignDeviceRequest) ApiAssignDeviceRequest {
	r.assignDeviceRequest = &assignDeviceRequest
	return r
}

func (r ApiAssignDeviceRequest) Execute() (*RestartClusterDeployment200Response, *http.Response, error) {
	return r.ApiService.AssignDeviceExecute(r)
}

/*
AssignDevice Assign a Host Device

Will assign a host device to the specified target server (VM). The device must be detached before it can be assigned.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@param deviceId The ID of the device
	@return ApiAssignDeviceRequest
*/
func (a *HostsAPIService) AssignDevice(ctx context.Context, id UpdateHostIdParameter, deviceId int32) ApiAssignDeviceRequest {
	return ApiAssignDeviceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		deviceId:   deviceId,
	}
}

// Execute executes the request
//
//	@return RestartClusterDeployment200Response
func (a *HostsAPIService) AssignDeviceExecute(r ApiAssignDeviceRequest) (*RestartClusterDeployment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RestartClusterDeployment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.AssignDevice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/devices/{deviceId}/assign"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceId"+"}", url.PathEscape(parameterValueToString(r.deviceId, "deviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.assignDeviceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAttachDeviceRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         UpdateHostIdParameter
	deviceId   int32
}

func (r ApiAttachDeviceRequest) Execute() (*RestartClusterDeployment200Response, *http.Response, error) {
	return r.ApiService.AttachDeviceExecute(r)
}

/*
AttachDevice Attach a Host Device

Will attach a host device.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@param deviceId The ID of the device
	@return ApiAttachDeviceRequest
*/
func (a *HostsAPIService) AttachDevice(ctx context.Context, id UpdateHostIdParameter, deviceId int32) ApiAttachDeviceRequest {
	return ApiAttachDeviceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		deviceId:   deviceId,
	}
}

// Execute executes the request
//
//	@return RestartClusterDeployment200Response
func (a *HostsAPIService) AttachDeviceExecute(r ApiAttachDeviceRequest) (*RestartClusterDeployment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RestartClusterDeployment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.AttachDevice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/devices/{deviceId}/attach"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceId"+"}", url.PathEscape(parameterValueToString(r.deviceId, "deviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDetachDeviceRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         UpdateHostIdParameter
	deviceId   int32
}

func (r ApiDetachDeviceRequest) Execute() (*RestartClusterDeployment200Response, *http.Response, error) {
	return r.ApiService.DetachDeviceExecute(r)
}

/*
DetachDevice Detach a Host Device

Will detach a host device. This must be done before assigning a device to a new target.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@param deviceId The ID of the device
	@return ApiDetachDeviceRequest
*/
func (a *HostsAPIService) DetachDevice(ctx context.Context, id UpdateHostIdParameter, deviceId int32) ApiDetachDeviceRequest {
	return ApiDetachDeviceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		deviceId:   deviceId,
	}
}

// Execute executes the request
//
//	@return RestartClusterDeployment200Response
func (a *HostsAPIService) DetachDeviceExecute(r ApiDetachDeviceRequest) (*RestartClusterDeployment200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RestartClusterDeployment200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.DetachDevice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/devices/{deviceId}/detach"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"deviceId"+"}", url.PathEscape(parameterValueToString(r.deviceId, "deviceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEnableMaintenanceModeRequest struct {
	ctx                          context.Context
	ApiService                   *HostsAPIService
	id                           UpdateHostIdParameter
	enableMaintenanceModeRequest *EnableMaintenanceModeRequest
}

func (r ApiEnableMaintenanceModeRequest) EnableMaintenanceModeRequest(enableMaintenanceModeRequest EnableMaintenanceModeRequest) ApiEnableMaintenanceModeRequest {
	r.enableMaintenanceModeRequest = &enableMaintenanceModeRequest
	return r
}

func (r ApiEnableMaintenanceModeRequest) Execute() (*EnableMaintenanceMode200Response, *http.Response, error) {
	return r.ApiService.EnableMaintenanceModeExecute(r)
}

/*
EnableMaintenanceMode Enable Maintenance Mode

This will enable maintenance mode on the host. Only available for supported server types such as MVM.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiEnableMaintenanceModeRequest
*/
func (a *HostsAPIService) EnableMaintenanceMode(ctx context.Context, id UpdateHostIdParameter) ApiEnableMaintenanceModeRequest {
	return ApiEnableMaintenanceModeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return EnableMaintenanceMode200Response
func (a *HostsAPIService) EnableMaintenanceModeExecute(r ApiEnableMaintenanceModeRequest) (*EnableMaintenanceMode200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EnableMaintenanceMode200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.EnableMaintenanceMode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/maintenance"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.enableMaintenanceModeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetHostRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         GetHostIdParameter
}

func (r ApiGetHostRequest) Execute() (*GetHost200Response, *http.Response, error) {
	return r.ApiService.GetHostExecute(r)
}

/*
GetHost Get a Specific Host

This endpoint retrieves a specific host.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiGetHostRequest
*/
func (a *HostsAPIService) GetHost(ctx context.Context, id GetHostIdParameter) ApiGetHostRequest {
	return ApiGetHostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GetHost200Response
func (a *HostsAPIService) GetHostExecute(r ApiGetHostRequest) (*GetHost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetHost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.GetHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetHostSnpshotsRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         UpdateHostIdParameter
}

func (r ApiGetHostSnpshotsRequest) Execute() (*GetHostSnpshots200Response, *http.Response, error) {
	return r.ApiService.GetHostSnpshotsExecute(r)
}

/*
GetHostSnpshots Get list of snapshots for a Host

Get list of snapshots for a Host

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiGetHostSnpshotsRequest
*/
func (a *HostsAPIService) GetHostSnpshots(ctx context.Context, id UpdateHostIdParameter) ApiGetHostSnpshotsRequest {
	return ApiGetHostSnpshotsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GetHostSnpshots200Response
func (a *HostsAPIService) GetHostSnpshotsExecute(r ApiGetHostSnpshotsRequest) (*GetHostSnpshots200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetHostSnpshots200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.GetHostSnpshots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/snapshots"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetHostTypeRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         int64
}

func (r ApiGetHostTypeRequest) Execute() (*GetHostType200Response, *http.Response, error) {
	return r.ApiService.GetHostTypeExecute(r)
}

/*
GetHostType Get a Specific Host Type

This endpoint will retrieve a specific host type by id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Morpheus ID of the Object being referenced
	@return ApiGetHostTypeRequest
*/
func (a *HostsAPIService) GetHostType(ctx context.Context, id int64) ApiGetHostTypeRequest {
	return ApiGetHostTypeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return GetHostType200Response
func (a *HostsAPIService) GetHostTypeExecute(r ApiGetHostTypeRequest) (*GetHostType200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *GetHostType200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.GetHostType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/server-types/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLeaseAgentTokenRequest struct {
	ctx           context.Context
	ApiService    *HostsAPIService
	tokenType     string
	serverId      LeaseAgentTokenServerIdParameter
	timeout       *int64
	nbdListenPort *int32
}

// Token time-to-live in milliseconds. Defaults to 300000 (5 minutes).
func (r ApiLeaseAgentTokenRequest) Timeout(timeout int64) ApiLeaseAgentTokenRequest {
	r.timeout = &timeout
	return r
}

// NBD listen port. Only used when &#x60;tokenType&#x60; is &#x60;nbd&#x60;. Defaults to &#x60;10809&#x60;.
func (r ApiLeaseAgentTokenRequest) NbdListenPort(nbdListenPort int32) ApiLeaseAgentTokenRequest {
	r.nbdListenPort = &nbdListenPort
	return r
}

func (r ApiLeaseAgentTokenRequest) Execute() (*LeaseAgentToken200Response, *http.Response, error) {
	return r.ApiService.LeaseAgentTokenExecute(r)
}

/*
LeaseAgentToken Lease an Agent WebSocket Token

Creates a short-lived lease token for agent websocket access.

The returned `url` and `headers.X-LEASE-TOKEN` are used together to establish the websocket connection.

### Sample Usage
```bash

	curl -X POST "https://CHANGEME/api/lease-token/vnc/97?timeout=300000" \
	  -H "Authorization: BEARER ${ACCESS_TOKEN}" \
	  -H "Content-Type: application/json"

```

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tokenType Lease token scope/type.
	@param serverId Server ID or UUID.
	@return ApiLeaseAgentTokenRequest
*/
func (a *HostsAPIService) LeaseAgentToken(ctx context.Context, tokenType string, serverId LeaseAgentTokenServerIdParameter) ApiLeaseAgentTokenRequest {
	return ApiLeaseAgentTokenRequest{
		ApiService: a,
		ctx:        ctx,
		tokenType:  tokenType,
		serverId:   serverId,
	}
}

// Execute executes the request
//
//	@return LeaseAgentToken200Response
func (a *HostsAPIService) LeaseAgentTokenExecute(r ApiLeaseAgentTokenRequest) (*LeaseAgentToken200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LeaseAgentToken200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.LeaseAgentToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/lease-token/{tokenType}/{serverId}"
	localVarPath = strings.Replace(localVarPath, "{"+"tokenType"+"}", url.PathEscape(parameterValueToString(r.tokenType, "tokenType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"serverId"+"}", url.PathEscape(parameterValueToString(r.serverId, "serverId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.timeout != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeout", r.timeout, "form", "")
	} else {
		var defaultValue int64 = 300000
		r.timeout = &defaultValue
	}
	if r.nbdListenPort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "nbdListenPort", r.nbdListenPort, "form", "")
	} else {
		var defaultValue int32 = 10809
		r.nbdListenPort = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v LeaseAgentToken400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v LeaseAgentToken404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLeaveMaintenanceModeRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         UpdateHostIdParameter
}

func (r ApiLeaveMaintenanceModeRequest) Execute() (*LeaveMaintenanceMode200Response, *http.Response, error) {
	return r.ApiService.LeaveMaintenanceModeExecute(r)
}

/*
LeaveMaintenanceMode Leave Maintenance Mode

This will leave maintenance mode on the host. Only available for supported server types such as HPE VM hosts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiLeaveMaintenanceModeRequest
*/
func (a *HostsAPIService) LeaveMaintenanceMode(ctx context.Context, id UpdateHostIdParameter) ApiLeaveMaintenanceModeRequest {
	return ApiLeaveMaintenanceModeRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return LeaveMaintenanceMode200Response
func (a *HostsAPIService) LeaveMaintenanceModeExecute(r ApiLeaveMaintenanceModeRequest) (*LeaveMaintenanceMode200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *LeaveMaintenanceMode200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.LeaveMaintenanceMode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/leave-maintenance"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListHostDevicesRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         UpdateHostIdParameter
}

func (r ApiListHostDevicesRequest) Execute() (*ListHostDevices200Response, *http.Response, error) {
	return r.ApiService.ListHostDevicesExecute(r)
}

/*
ListHostDevices Get list of devices for a Host

Get list of devices for a Host

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiListHostDevicesRequest
*/
func (a *HostsAPIService) ListHostDevices(ctx context.Context, id UpdateHostIdParameter) ApiListHostDevicesRequest {
	return ApiListHostDevicesRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ListHostDevices200Response
func (a *HostsAPIService) ListHostDevicesExecute(r ApiListHostDevicesRequest) (*ListHostDevices200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListHostDevices200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.ListHostDevices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/devices"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListHostTypesRequest struct {
	ctx           context.Context
	ApiService    *HostsAPIService
	max           *int64
	offset        *int64
	sort          *string
	direction     *string
	name          *string
	code          *string
	phrase        *string
	provisionType *string
	zoneType      *string
	creatable     *bool
}

// Maximum number of records to return
func (r ApiListHostTypesRequest) Max(max int64) ApiListHostTypesRequest {
	r.max = &max
	return r
}

// Offset records, the number of records to skip, for paginating requests
func (r ApiListHostTypesRequest) Offset(offset int64) ApiListHostTypesRequest {
	r.offset = &offset
	return r
}

// Sort order, the name of the property to sort by
func (r ApiListHostTypesRequest) Sort(sort string) ApiListHostTypesRequest {
	r.sort = &sort
	return r
}

// Sort direction, use &#39;desc&#39; to reverse sort
func (r ApiListHostTypesRequest) Direction(direction string) ApiListHostTypesRequest {
	r.direction = &direction
	return r
}

// Filter by name
func (r ApiListHostTypesRequest) Name(name string) ApiListHostTypesRequest {
	r.name = &name
	return r
}

// If specified will return an exact match on code
func (r ApiListHostTypesRequest) Code(code string) ApiListHostTypesRequest {
	r.code = &code
	return r
}

// Search phrase for partial matches on name or description
func (r ApiListHostTypesRequest) Phrase(phrase string) ApiListHostTypesRequest {
	r.phrase = &phrase
	return r
}

// Filter by &#x60;Provision Type&#x60; code. Refer to &#x60;Provision Types&#x60; API for up to date listings.
func (r ApiListHostTypesRequest) ProvisionType(provisionType string) ApiListHostTypesRequest {
	r.provisionType = &provisionType
	return r
}

// Filter by Cloud Type code.
func (r ApiListHostTypesRequest) ZoneType(zoneType string) ApiListHostTypesRequest {
	r.zoneType = &zoneType
	return r
}

// Filter by creatable flag. This is whether or not it can be provisioned.
func (r ApiListHostTypesRequest) Creatable(creatable bool) ApiListHostTypesRequest {
	r.creatable = &creatable
	return r
}

func (r ApiListHostTypesRequest) Execute() (*ListHostTypes200Response, *http.Response, error) {
	return r.ApiService.ListHostTypesExecute(r)
}

/*
ListHostTypes Host Types

Fetch a paginated list of available host types. This returns the configuration options for each type.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListHostTypesRequest
*/
func (a *HostsAPIService) ListHostTypes(ctx context.Context) ApiListHostTypesRequest {
	return ApiListHostTypesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListHostTypes200Response
func (a *HostsAPIService) ListHostTypesExecute(r ApiListHostTypesRequest) (*ListHostTypes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListHostTypes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.ListHostTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/server-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	} else {
		var defaultValue int64 = 25
		r.max = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "name"
		r.sort = &defaultValue
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	} else {
		var defaultValue string = "asc"
		r.direction = &defaultValue
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.phrase != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "phrase", r.phrase, "form", "")
	}
	if r.provisionType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "provisionType", r.provisionType, "form", "")
	}
	if r.zoneType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zoneType", r.zoneType, "form", "")
	}
	if r.creatable != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "creatable", r.creatable, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListHostsRequest struct {
	ctx               context.Context
	ApiService        *HostsAPIService
	name              *string
	phrase            *string
	zoneId            *int64
	siteId            *int64
	clusterId         *int64
	parentServerId    *int64
	managed           *bool
	serverType        *string
	powerState        *string
	ip                *string
	vm                *bool
	vmHypervisor      *bool
	bareMetalHost     *bool
	status            *string
	agentInstalled    *bool
	guestAgentStatus  *string
	max               *int64
	offset            *int64
	lastUpdated       *time.Time
	createdBy         *int64
	tagsName          *string
	metadata          *string
	uuid              *string
	externalId        *string
	internalId        *string
	externalUniquelId *string
	stats             *string
	includeTenants    *bool
	tenantId          *float32
}

// Filter by name
func (r ApiListHostsRequest) Name(name string) ApiListHostsRequest {
	r.name = &name
	return r
}

// Search phrase for partial matches on name or description
func (r ApiListHostsRequest) Phrase(phrase string) ApiListHostsRequest {
	r.phrase = &phrase
	return r
}

// The Cloud ID (Zone ID) for Filtering
func (r ApiListHostsRequest) ZoneId(zoneId int64) ApiListHostsRequest {
	r.zoneId = &zoneId
	return r
}

// The Group ID (Site ID) for Filtering
func (r ApiListHostsRequest) SiteId(siteId int64) ApiListHostsRequest {
	r.siteId = &siteId
	return r
}

// The Cluster ID(s) for filtering. Accepts multiple values.
func (r ApiListHostsRequest) ClusterId(clusterId int64) ApiListHostsRequest {
	r.clusterId = &clusterId
	return r
}

// The Parent Server (Hypervisor) ID for Filtering
func (r ApiListHostsRequest) ParentServerId(parentServerId int64) ApiListHostsRequest {
	r.parentServerId = &parentServerId
	return r
}

// Filter by managed (true) or unmanaged (false)
func (r ApiListHostsRequest) Managed(managed bool) ApiListHostsRequest {
	r.managed = &managed
	return r
}

// Filter by server type code
func (r ApiListHostsRequest) ServerType(serverType string) ApiListHostsRequest {
	r.serverType = &serverType
	return r
}

// Filter by power status
func (r ApiListHostsRequest) PowerState(powerState string) ApiListHostsRequest {
	r.powerState = &powerState
	return r
}

// Filter by IP address
func (r ApiListHostsRequest) Ip(ip string) ApiListHostsRequest {
	r.ip = &ip
	return r
}

// Filter to show only Virtual Machines (true)
func (r ApiListHostsRequest) Vm(vm bool) ApiListHostsRequest {
	r.vm = &vm
	return r
}

// Filter to show only VM Hypervisors (true)
func (r ApiListHostsRequest) VmHypervisor(vmHypervisor bool) ApiListHostsRequest {
	r.vmHypervisor = &vmHypervisor
	return r
}

// Filter to show only Baremetal Servers
func (r ApiListHostsRequest) BareMetalHost(bareMetalHost bool) ApiListHostsRequest {
	r.bareMetalHost = &bareMetalHost
	return r
}

// Filter by status
func (r ApiListHostsRequest) Status(status string) ApiListHostsRequest {
	r.status = &status
	return r
}

// Filter by agent installed (true)
func (r ApiListHostsRequest) AgentInstalled(agentInstalled bool) ApiListHostsRequest {
	r.agentInstalled = &agentInstalled
	return r
}

// Filter by Guest Agent Status.
func (r ApiListHostsRequest) GuestAgentStatus(guestAgentStatus string) ApiListHostsRequest {
	r.guestAgentStatus = &guestAgentStatus
	return r
}

// Maximum number of records to return
func (r ApiListHostsRequest) Max(max int64) ApiListHostsRequest {
	r.max = &max
	return r
}

// Offset records, the number of records to skip, for paginating requests
func (r ApiListHostsRequest) Offset(offset int64) ApiListHostsRequest {
	r.offset = &offset
	return r
}

// Date filter, restricts query to only load resources updated more recently than the date specified (ISO 8601)
func (r ApiListHostsRequest) LastUpdated(lastUpdated time.Time) ApiListHostsRequest {
	r.lastUpdated = &lastUpdated
	return r
}

// The User ID for Filtering
func (r ApiListHostsRequest) CreatedBy(createdBy int64) ApiListHostsRequest {
	r.createdBy = &createdBy
	return r
}

// Filter by tags (metadata). This allows filtering by a tag name and value(s)
func (r ApiListHostsRequest) TagsName(tagsName string) ApiListHostsRequest {
	r.tagsName = &tagsName
	return r
}

// Alias for tags
func (r ApiListHostsRequest) Metadata(metadata string) ApiListHostsRequest {
	r.metadata = &metadata
	return r
}

// Filter by UUID, accepts multiple values
func (r ApiListHostsRequest) Uuid(uuid string) ApiListHostsRequest {
	r.uuid = &uuid
	return r
}

// Filter by External ID
func (r ApiListHostsRequest) ExternalId(externalId string) ApiListHostsRequest {
	r.externalId = &externalId
	return r
}

// Filter by Internal ID
func (r ApiListHostsRequest) InternalId(internalId string) ApiListHostsRequest {
	r.internalId = &internalId
	return r
}

// Filter by External Unique ID
func (r ApiListHostsRequest) ExternalUniquelId(externalUniquelId string) ApiListHostsRequest {
	r.externalUniquelId = &externalUniquelId
	return r
}

// This can be used to exclude the &#x60;stats&#x60; object in the response by passing &#x60;false&#x60; which can increase performance when returning a large number of servers.
func (r ApiListHostsRequest) Stats(stats string) ApiListHostsRequest {
	r.stats = &stats
	return r
}

// Optional ability to include all subtenant resources when calling from a master tenant user. The default is true for backwards compatibility but can be set to false to exclude subtenant resources.
func (r ApiListHostsRequest) IncludeTenants(includeTenants bool) ApiListHostsRequest {
	r.includeTenants = &includeTenants
	return r
}

// Filter by Tenant ID. Only available to the master account.
func (r ApiListHostsRequest) TenantId(tenantId float32) ApiListHostsRequest {
	r.tenantId = &tenantId
	return r
}

func (r ApiListHostsRequest) Execute() (*ListHosts200Response, *http.Response, error) {
	return r.ApiService.ListHostsExecute(r)
}

/*
ListHosts Get All Hosts

This endpoint retrieves a paginated list of hosts.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListHostsRequest
*/
func (a *HostsAPIService) ListHosts(ctx context.Context) ApiListHostsRequest {
	return ApiListHostsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListHosts200Response
func (a *HostsAPIService) ListHostsExecute(r ApiListHostsRequest) (*ListHosts200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListHosts200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.ListHosts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.phrase != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "phrase", r.phrase, "form", "")
	}
	if r.zoneId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zoneId", r.zoneId, "form", "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	}
	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "clusterId", r.clusterId, "form", "")
	}
	if r.parentServerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parentServerId", r.parentServerId, "form", "")
	}
	if r.managed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "managed", r.managed, "form", "")
	}
	if r.serverType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serverType", r.serverType, "form", "")
	}
	if r.powerState != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "powerState", r.powerState, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.vm != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vm", r.vm, "form", "")
	}
	if r.vmHypervisor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vmHypervisor", r.vmHypervisor, "form", "")
	}
	if r.bareMetalHost != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bareMetalHost", r.bareMetalHost, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.agentInstalled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "agentInstalled", r.agentInstalled, "form", "")
	}
	if r.guestAgentStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "guestAgentStatus", r.guestAgentStatus, "form", "")
	}
	if r.max != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "max", r.max, "form", "")
	} else {
		var defaultValue int64 = 25
		r.max = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	if r.lastUpdated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastUpdated", r.lastUpdated, "form", "")
	}
	if r.createdBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdBy", r.createdBy, "form", "")
	}
	if r.tagsName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags.name", r.tagsName, "form", "")
	}
	if r.metadata != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metadata", r.metadata, "form", "")
	}
	if r.uuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "uuid", r.uuid, "form", "")
	}
	if r.externalId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalId", r.externalId, "form", "")
	}
	if r.internalId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "internalId", r.internalId, "form", "")
	}
	if r.externalUniquelId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalUniquelId", r.externalUniquelId, "form", "")
	}
	if r.stats != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stats", r.stats, "form", "")
	}
	if r.includeTenants != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeTenants", r.includeTenants, "form", "")
	} else {
		var defaultValue bool = true
		r.includeTenants = &defaultValue
	}
	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListServerServicePlansRequest struct {
	ctx          context.Context
	ApiService   *HostsAPIService
	zoneId       *int64
	serverTypeId *int64
	siteId       *int64
}

// The Zone ID for Filtering
func (r ApiListServerServicePlansRequest) ZoneId(zoneId int64) ApiListServerServicePlansRequest {
	r.zoneId = &zoneId
	return r
}

// The ID of the Host Type
func (r ApiListServerServicePlansRequest) ServerTypeId(serverTypeId int64) ApiListServerServicePlansRequest {
	r.serverTypeId = &serverTypeId
	return r
}

// The Group ID (Site ID) for Filtering
func (r ApiListServerServicePlansRequest) SiteId(siteId int64) ApiListServerServicePlansRequest {
	r.siteId = &siteId
	return r
}

func (r ApiListServerServicePlansRequest) Execute() (*ListServerServicePlans200Response, *http.Response, error) {
	return r.ApiService.ListServerServicePlansExecute(r)
}

/*
ListServerServicePlans Get Available Service Plans for a Host

This endpoint retrieves all the Service Plans available for the specified cloud and host type. It may be used to get the list of available plans when creating a new host or resizing an existing host.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListServerServicePlansRequest
*/
func (a *HostsAPIService) ListServerServicePlans(ctx context.Context) ApiListServerServicePlansRequest {
	return ApiListServerServicePlansRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ListServerServicePlans200Response
func (a *HostsAPIService) ListServerServicePlansExecute(r ApiListServerServicePlansRequest) (*ListServerServicePlans200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ListServerServicePlans200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.ListServerServicePlans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/service-plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.zoneId == nil {
		return localVarReturnValue, nil, reportError("zoneId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "zoneId", r.zoneId, "form", "")
	if r.serverTypeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serverTypeId", r.serverTypeId, "form", "")
	}
	if r.siteId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "siteId", r.siteId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiManageHostPlacementRequest struct {
	ctx                        context.Context
	ApiService                 *HostsAPIService
	id                         UpdateHostIdParameter
	manageHostPlacementRequest *ManageHostPlacementRequest
}

func (r ApiManageHostPlacementRequest) ManageHostPlacementRequest(manageHostPlacementRequest ManageHostPlacementRequest) ApiManageHostPlacementRequest {
	r.manageHostPlacementRequest = &manageHostPlacementRequest
	return r
}

func (r ApiManageHostPlacementRequest) Execute() (*ManageHostPlacement200Response, *http.Response, error) {
	return r.ApiService.ManageHostPlacementExecute(r)
}

/*
ManageHostPlacement Manage Host Placement

This will update the host placement settings for the virtual machine. Only available for supported server types such as HPE VM virtual machines.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiManageHostPlacementRequest
*/
func (a *HostsAPIService) ManageHostPlacement(ctx context.Context, id UpdateHostIdParameter) ApiManageHostPlacementRequest {
	return ApiManageHostPlacementRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ManageHostPlacement200Response
func (a *HostsAPIService) ManageHostPlacementExecute(r ApiManageHostPlacementRequest) (*ManageHostPlacement200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ManageHostPlacement200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.ManageHostPlacement")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/placement"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.manageHostPlacementRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveHostRequest struct {
	ctx                context.Context
	ApiService         *HostsAPIService
	id                 UpdateHostIdParameter
	removeResources    *string
	removeInstances    *string
	preserveVolumes    *string
	releaseFloatingIps *string
	releaseEIPs        *string
	force              *string
}

// Remove Resources
func (r ApiRemoveHostRequest) RemoveResources(removeResources string) ApiRemoveHostRequest {
	r.removeResources = &removeResources
	return r
}

// Remove Instances
func (r ApiRemoveHostRequest) RemoveInstances(removeInstances string) ApiRemoveHostRequest {
	r.removeInstances = &removeInstances
	return r
}

// Preserve Volumes
func (r ApiRemoveHostRequest) PreserveVolumes(preserveVolumes string) ApiRemoveHostRequest {
	r.preserveVolumes = &preserveVolumes
	return r
}

// Release Floating IPs
func (r ApiRemoveHostRequest) ReleaseFloatingIps(releaseFloatingIps string) ApiRemoveHostRequest {
	r.releaseFloatingIps = &releaseFloatingIps
	return r
}

// Alias for releaseFloatingIps
func (r ApiRemoveHostRequest) ReleaseEIPs(releaseEIPs string) ApiRemoveHostRequest {
	r.releaseEIPs = &releaseEIPs
	return r
}

// Force Delete
func (r ApiRemoveHostRequest) Force(force string) ApiRemoveHostRequest {
	r.force = &force
	return r
}

func (r ApiRemoveHostRequest) Execute() (*RemoveExecuteSchedules200Response, *http.Response, error) {
	return r.ApiService.RemoveHostExecute(r)
}

/*
RemoveHost Delete a Host

Will delete a host asynchronously.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiRemoveHostRequest
*/
func (a *HostsAPIService) RemoveHost(ctx context.Context, id UpdateHostIdParameter) ApiRemoveHostRequest {
	return ApiRemoveHostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return RemoveExecuteSchedules200Response
func (a *HostsAPIService) RemoveHostExecute(r ApiRemoveHostRequest) (*RemoveExecuteSchedules200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RemoveExecuteSchedules200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.RemoveHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.removeResources != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "removeResources", r.removeResources, "form", "")
	} else {
		var defaultValue string = "on"
		r.removeResources = &defaultValue
	}
	if r.removeInstances != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "removeInstances", r.removeInstances, "form", "")
	} else {
		var defaultValue string = "off"
		r.removeInstances = &defaultValue
	}
	if r.preserveVolumes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "preserveVolumes", r.preserveVolumes, "form", "")
	} else {
		var defaultValue string = "off"
		r.preserveVolumes = &defaultValue
	}
	if r.releaseFloatingIps != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseFloatingIps", r.releaseFloatingIps, "form", "")
	} else {
		var defaultValue string = "on"
		r.releaseFloatingIps = &defaultValue
	}
	if r.releaseEIPs != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseEIPs", r.releaseEIPs, "form", "")
	} else {
		var defaultValue string = "on"
		r.releaseEIPs = &defaultValue
	}
	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "form", "")
	} else {
		var defaultValue string = "off"
		r.force = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRestartHostRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         UpdateHostIdParameter
}

func (r ApiRestartHostRequest) Execute() (*UpdateHostResize200Response, *http.Response, error) {
	return r.ApiService.RestartHostExecute(r)
}

/*
RestartHost Restart a Host

This will restart a host.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiRestartHostRequest
*/
func (a *HostsAPIService) RestartHost(ctx context.Context, id UpdateHostIdParameter) ApiRestartHostRequest {
	return ApiRestartHostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return UpdateHostResize200Response
func (a *HostsAPIService) RestartHostExecute(r ApiRestartHostRequest) (*UpdateHostResize200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *UpdateHostResize200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.RestartHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/restart"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSnapshotHostRequest struct {
	ctx                 context.Context
	ApiService          *HostsAPIService
	id                  UpdateHostIdParameter
	snapshotHostRequest *SnapshotHostRequest
}

func (r ApiSnapshotHostRequest) SnapshotHostRequest(snapshotHostRequest SnapshotHostRequest) ApiSnapshotHostRequest {
	r.snapshotHostRequest = &snapshotHostRequest
	return r
}

func (r ApiSnapshotHostRequest) Execute() (*SnapshotHost200Response, *http.Response, error) {
	return r.ApiService.SnapshotHostExecute(r)
}

/*
SnapshotHost Snapshot a Host

This endpoint will create a snapshot of a host. This is done asychronously, so the ID of the snapshot is not returned.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiSnapshotHostRequest
*/
func (a *HostsAPIService) SnapshotHost(ctx context.Context, id UpdateHostIdParameter) ApiSnapshotHostRequest {
	return ApiSnapshotHostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return SnapshotHost200Response
func (a *HostsAPIService) SnapshotHostExecute(r ApiSnapshotHostRequest) (*SnapshotHost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SnapshotHost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.SnapshotHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/snapshot"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.snapshotHostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
		}
		if localVarHTTPResponse.StatusCode >= 400 && localVarHTTPResponse.StatusCode < 500 {
			var v ListApplianceSettings4XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode >= 500 {
			var v ListApplianceSettings5XXResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.err = err
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.err = errors.New(formatErrorMessage(localVarHTTPResponse.Status, &v))
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body: localVarBody,
			err:  err,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStartHostRequest struct {
	ctx        context.Context
	ApiService *HostsAPIService
	id         UpdateHostIdParameter
}

func (r ApiStartHostRequest) Execute() (*StartHost200Response, *http.Response, error) {
	return r.ApiService.StartHostExecute(r)
}

/*
StartHost Start a Host

This will start a host.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The `id` or `uuid` to identify the server record.
	@return ApiStartHostRequest
*/
func (a *HostsAPIService) StartHost(ctx context.Context, id UpdateHostIdParameter) ApiStartHostRequest {
	return ApiStartHostRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return StartHost200Response
func (a *HostsAPIService) StartHostExecute(r ApiStartHostRequest) (*StartHost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *StartHost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HostsAPIService.StartHost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{err: err}
	}

	localVarPath := localBasePath + "/api/servers/{id}/start"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
[...]
