resource "hpe_morpheus_form" "example" {
  name        = "{{.Name}}"
  code        = "{{.Code}}"
  description = "{{.Description}}"
  labels      = {{.Labels}}

  option_type {
    name                        = "{{.OptionTypeName}}"
    code                        = "{{.OptionTypeCode}}"
    description                 = "{{.OptionTypeDescription}}"
    type                        = "{{.OptionTypeType}}"
    field_label                 = "{{.OptionTypeFieldLabel}}"
    field_name                  = "{{.OptionTypeFieldName}}"
    default_value               = {{.OptionTypeDefaultValue}}
    placeholder                 = "{{.OptionTypePlaceholder}}"
    help_block                  = "{{.OptionTypeHelpBlock}}"
    required                    = {{.OptionTypeRequired}}
    export_meta                 = {{.OptionTypeExportMeta}}
    display_value_on_details    = {{.OptionTypeDisplayValueOnDetails}}
    locked                      = {{.OptionTypeLocked}}
    hidden                      = {{.OptionTypeHidden}}
    exclude_from_search         = {{.OptionTypeExcludeFromSearch}}
    show_network_type_selection = {{.OptionTypeShowNetworkTypeSelection}}
    enable_ip_mode_selection    = {{.OptionTypeEnableIPModeSelection}}
    group_field_type            = "{{.OptionTypeGroupFieldType}}"
    group_id                    = "{{.OptionTypeGroupId}}"
    cloud_field_type            = "{{.OptionTypeCloudFieldType}}"
    cloud_id                    = "{{.OptionTypeCloudId}}"
    pool_field_type             = "{{.OptionTypePoolFieldType}}"
    pool_id                     = "{{.OptionTypePoolId}}"
    layout_field_type           = "{{.OptionTypeLayoutFieldType}}"
    layout_id                   = "{{.OptionTypeLayoutId}}"
  }
}
