resource "hpe_morpheus_setting_backup" "example" {
  scheduled_backups                = {{.ScheduledBackups}}
  create_backups                   = {{.CreateBackups}}
  backup_appliance                 = {{.BackupAppliance}}
  default_backup_storage_bucket_id = {{.DefaultBackupStorageBucketId}}
  default_backup_schedule_id       = {{.DefaultBackupScheduleId}}
  retention_days                   = {{.RetentionDays}}
}
