resource "hpe_morpheus_setting_appliance" "example" {
  appliance_url             = "{{.ApplianceUrl}}"
  internal_appliance_url    = "{{.InternalApplianceUrl}}"
  api_allowed_origins       = "{{.ApiAllowedOrigins}}"
  registration_enabled      = {{.RegistrationEnabled}}
  default_role_id           = {{.DefaultRoleId}}
  default_user_role_id      = {{.DefaultUserRoleId}}
  docker_privileged_mode    = {{.DockerPrivilegedMode}}
  smtp_from_address         = "{{.SmtpFromAddress}}"
  smtp_server               = "{{.SmtpServer}}"
  smtp_port                 = {{.SmtpPort}}
  smtp_use_ssl              = {{.SmtpUseSsl}}
  smtp_use_tls              = {{.SmtpUseTls}}
  smtp_username             = "{{.SmtpUsername}}"
  smtp_password             = "{{.SmtpPassword}}"
  proxy_host                = "{{.ProxyHost}}"
  proxy_port                = {{.ProxyPort}}
  proxy_user                = "{{.ProxyUser}}"
  proxy_password            = "{{.ProxyPassword}}"
  proxy_domain              = "{{.ProxyDomain}}"
  proxy_workstation         = "{{.ProxyWorkstation}}"
  currency_provider         = "{{.CurrencyProvider}}"
  currency_provider_api_key = "{{.CurrencyProviderApiKey}}"
}