resource "hpe_morpheus_option_type_radio_list" "example" {
  name                     = "{{ .Name }}"
  description              = "{{ .Description }}"
  labels                   = {{ .Labels }}
  field_name               = "{{ .FieldName }}"
  export_meta              = {{ .ExportMeta }}
  dependent_field          = "{{ .DependentField }}"
  visibility_field         = "{{ .VisibilityField }}"
  require_field            = "{{ .RequireField }}"
  show_on_edit             = {{ .ShowOnEdit }}
  editable                 = {{ .Editable }}
  display_value_on_details = {{ .DisplayValueOnDetails }}
  field_label              = "{{ .FieldLabel }}"
  default_value            = "{{ .DefaultValue }}"
  help_block               = "{{ .HelpBlock }}"
  required                 = {{ .Required }}
  option_list_id           = {{ .OptionListId }}
}
