data "hpe_morpheus_cloud" "vme_cloud" {
  name = "HPE Alletra VME"
}

data "hpe_morpheus_service_plan" "vme_512mb" {
  name                = "1 CPU, 1GB Memory"
  provision_type_code = "kvm"
}

resource "hpe_morpheus_instance" "example" {
  name             = "{{.Name}}"
  cloud_id         = data.hpe_morpheus_cloud.vme_cloud.id # HPE Alletra VME
  layout_id        = 5385                                 # Single KVM VM
  instance_type_id = {{.InstanceType}}                  # (HVM) mvm-cluster

  group_id = 1
  plan_id  = data.hpe_morpheus_service_plan.vme_512mb.id # kvm-vm-512

  instance_context = "dev"
  network_interfaces = [
    {
      network_id = 103481
    }
  ]

  network_interfaces = [
    {
      network_id = 103481
      child_virtual_networks = [
        {
          network_id = 103481
        }
      ]
    },
    {
      network_id = 103481
    },
  ]

  volumes = [
    {
      root_volume     = true
      name            = "root"
      size            = 10
      storage_type_id = 1
      datastore_id    = 38658
    },
    {
      root_volume     = false
      name            = "data"
      size            = 10
      storage_type_id = 1
      datastore_id    = 38658
    }
  ]

  tags = [
    {
      name  = "terraform"
      value = "true"
    },
    {
      name  = "acctest"
      value = "true"
    },
    {
      name  = "hpe_morpheus_instance"
      value = "true"
    },
    {
      name  = "sweepable"
      value = "true"
    },
    {
      name  = "managed_by"
      value = "terraform"
    }
  ]

  config = {
    resourcePoolId       = "{{.ResourcePool}}"
    poolProviderType     = "mvm"
    nestedVirtualization = "off"
    noAgent              = true
    createUser           = false
  }
}
