resource "hpe_morpheus_task" "example_task" {
    name = "{{ .Name }}"
    task_type_code = "nestedWorkflow"

    config = {
        operationalWorkflowId = "{{.operationalWorkflowId}}"
        operationalWorkflowName = "{{.operationalWorkflowName}}"
    }

    execute_target = "local"
    retryable = false
}