resource "hpe_morpheus_task" "example_task" {
    name = "{{ .Name }}"
    task_type_code = "conditionalWorkflow"
    config_conditional_workflow = {
        conditional_script = <<-EOT
        if (1 == true) {
            return true;
        }

        return false;
        EOT
        if_operational_workflow_id   = {{ .IfOperationalWorkflowId }}
        if_operational_workflow_name = "{{ .IfOperationalWorkflowName }}"

        else_operational_workflow_id   = {{ .ElseOperationalWorkflowId }}
        else_operational_workflow_name = "{{ .ElseOperationalWorkflowName }}"
    }

    execute_target = "local"
    retryable = false
    allow_custom_config = true
}