resource "hpe_morpheus_storage_volume" "example" {
  name              = "{{.Name}}"
  type_id           = {{.TypeId}}
  storage_server_id = {{.StorageServerId}}
  max_storage       = {{.MaxStorage}} # GiB
}
