# Infoblox Network Pool Server
#
# Applicable attributes for Infoblox:
#   name, type_id, enabled, service_url, service_username, service_password_wo,
#   service_password_wo_version, credential_id, ignore_ssl, network_filter,
#   zone_filter, tenant_match, service_mode, service_throttle_rate
resource "hpe_morpheus_network_pool_server" "infoblox" {
  name                        = "{{.Name}}"
  type_id                     = {{.TypeId}}
  enabled                     = {{.Enabled}}
  service_url                 = "{{.ServiceUrl}}"
  service_username            = "{{.ServiceUsername}}"
  service_password_wo         = "{{.ServicePassword}}"
  service_password_wo_version = {{.ServicePasswordVersion}}
  ignore_ssl                  = {{.IgnoreSsl}}
  network_filter              = "{{.NetworkFilter}}"
  zone_filter                 = "{{.ZoneFilter}}"
  tenant_match                = "{{.TenantMatch}}"
  service_mode                = "{{.ServiceMode}}"
  service_throttle_rate       = {{.ServiceThrottleRate}}
}
