resource "hpe_morpheus_library_container_type" "example" {
  name                = "{{.Name}}"
  short_name          = "{{.ShortName}}"
  container_version   = "{{.ContainerVersion}}"
  provision_type_code = "{{.ProvisionTypeCode}}"
  description         = "{{.Description}}"
  virtual_image_id    = {{.VirtualImageId}}
  server_type         = "{{.ServerType}}"
}
