resource "hpe_morpheus_cloud" "example" {
  name      = "{{.Name}}"
  tenant_id = 1
  group_id  = 1

  code             = "{{.Code}}"
  labels           = ["{{.Label}}1", "{{.Label}}2"]
  enabled          = true
  location         = "somewhere"
  visibility       = "public"
  cloud_type_code  = "standard"

  agent_install_mode       = "ssh"
  auto_recover_power_state = true

  costing_mode  = "costing"
  guidance_mode = "off"

  security_mode = "off"

  appliance_url            = "https://somewhere.com"
  keyboard_layout = "us"
  data_center_name = "aDatacenter"
  external_id      = "{{.Code}}"
  import_existing_vms      = "off"

  config = {
    certificateProvider          = "internal"
    enableNetworkTypeSelection = false
  }
}
