resource "hpe_morpheus_network_router_route" "example" {
  router_id     = {{.RouterId}}
  name          = "{{.Name}}"
  network       = "{{.Network}}"
  next_hop      = "{{.NextHop}}"
  description   = "{{.Description}}"
  mtu           = {{.Mtu}}
  enabled       = {{.Enabled}}
  default_route = {{.DefaultRoute}}
}
