resource "hpe_morpheus_vdi_pool" "example" {
  name              = "{{.Name}}"
  description       = "{{.Description}}"
  max_pool_size     = {{.MaxPoolSize}}
  min_idle          = {{.MinIdle}}
  initial_pool_size = {{.InitialPoolSize}}
  enabled           = {{.Enabled}}
  persistent_user   = {{.PersistentUser}}
  idle_timeout      = {{.IdleTimeout}}
}
