resource "hpe_morpheus_datastore" "example" {
  name = "{{.Name}}"
  datastore_type = {
    id   = 8
    code = "hpedatastore-alletra-mp"
  }
  associated_resource_type = "Cluster"
  visibility               = "private"
  active                   = true
  associated_resource_id   = {{.AssociatedResourceID}}

  config_alletramp_hvm = {
    protocol_type     = "iSCSI"
    enable_ransomware = false
  }

  storage_server = {
    id = {{.StorageServerID}}
  }

  resource_permissions = {
    groups = [
      {
        id = {{.GroupID}}
      }
    ]
  }
  tenants = [
    {
      id = {{.TenantID}}
    }
  ]
}