resource "hpe_morpheus_credential" "tf_example_credential_username_password_keypair" {
  name        = "{{.Name}}"
  description = "{{.Description}}"
  enabled     = {{.Enabled}}
  type        = "{{.Type}}"
  username    = "{{.Username}}"
  password    = "{{.Password}}"
  key_pair_id = {{.KeyPairId}}
}
