resource "hpe_morpheus_credential" "tf_example_credential_email_private_key" {
  name        = "{{.Name}}"
  description = "{{.Description}}"
  enabled     = {{.Enabled}}
  type        = "{{.Type}}"
  email       = "{{.Email}}"
  key_pair_id = {{.KeyPairId}}
}
