resource "hpe_morpheus_credential" "tf_example_credential_api_key" {
  name        = "{{.Name}}"
  description = "{{.Description}}"
  enabled     = {{.Enabled}}
  type        = "{{.Type}}"
  api_key     = "{{.ApiKey}}"
}
