---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/morpheus_network_dhcp_server/example.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Network DHCP servers can be imported using `network_server_id:id`, e.g.

```bash
terraform import hpe_morpheus_network_dhcp_server.example 16:123
```
