---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Image resource allows creation of Morpheus images to be used for instance
provisioning.

-> `user_data` must not contain leading and trailing whitespace. Use built-in
Terraform function 
[`trimspace`](https://developer.hashicorp.com/terraform/language/functions/trimspace)
to remove all leading and trailing whitespace.

-> Images will be replaced if there are any changes to the following atributes:<br>
&nbsp;&nbsp;&nbsp;&nbsp;- `url`<br>
&nbsp;&nbsp;&nbsp;&nbsp;- `config_azure`<br>
&nbsp;&nbsp;&nbsp;&nbsp;- `description`<br>
&nbsp;&nbsp;&nbsp;&nbsp;- `image_type`<br>
&nbsp;&nbsp;&nbsp;&nbsp;- `storage_provider_id`


## Example Usage

{{ tffile "morpheus/framework/resources/image/example.tf" }}

{{ .SchemaMarkdown | trimspace }}
