---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Datastores are used to provide storage for virtual machines and instances within a cloud environment.
They can represent various types of storage backends, such as NFS shares, iSCSI or FC targets (such as AlletraMP),
or cloud-based storage services.

-> Currently, only the AlletraMP HVM and NFS datastores are supported with specific config blocks, `config_alletramp_hvm`
and `config_nfs`. Other datastore types can be created using the generic `config` which is a dynamic attribute.

-> Some datastore plugins add additional fields that aren't set by the user to their returned `config` block.  These fields are
read-only and will be added to the `config_from_api` dynamic attribute after creation.

-> Datastore delete is not guaranteed to succeed.  AlletraMP HVM datastores will delete but NFS datastores
may fail to delete.  Always delete VMs and other resources using the datastore before deleting the datastore itself.

-> NFS datastores may remain in a `provisioning` state indefinitely if the NFS server is not reachable or the share is not accessible.
Ensure the Morpheus appliance can reach the NFS server and that the share is accessible before creating.

## Example Usage

{{ tffile "internal/subproviders/morpheus/resources/datastore/example_alletramp_hvm.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Datastores can be imported using their ID, either on the command line or by using `import blocks` in your configuration.
For example:

```bash
terraform import hpe_morpheus_datastore.example 123
```

Note that when importing any `resource_permissions` or `tenants` will not be populated.  You will need to perform an update
to the imported datastore to set these attributes.

## Notes

### Resource Dependencies

Before creating a datastore resource, ensure that:

1. The specific `Cloud` or `Cluster` to be associated with the datastore exists.
2. If any `tenants` are specified, they must already exist in Morpheus and the user must have permission to assign them.
3. If any `groups` are specified, they must already exist in Morpheus and the user must have permission to assign them.
