---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "morpheus"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/morpheus_setting_whitelabel/example.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is not supported for this resource.
