---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

!> **Note:** Existing inputs or option types are not supported 
and all inputs or option types must be defined in the form.

## Example Usage

### Select

{{tffile "examples/resources/morpheus_form/resource_select.tf"}}

### Radio

{{tffile "examples/resources/morpheus_form/resource_radio.tf"}}

### Text

{{tffile "examples/resources/morpheus_form/resource_text.tf"}}

### Checkbox

{{tffile "examples/resources/morpheus_form/resource_checkbox.tf"}}

### Hidden

{{tffile "examples/resources/morpheus_form/resource_hidden.tf"}}

### Number

{{tffile "examples/resources/morpheus_form/resource_number.tf"}}

### Network Manager

{{tffile "examples/resources/morpheus_form/resource_network_manager.tf"}}

### Cloud

{{tffile "examples/resources/morpheus_form/resource_cloud.tf"}}

### Layout

{{tffile "examples/resources/morpheus_form/resource_layout.tf"}}

### Group

{{tffile "examples/resources/morpheus_form/resource_group.tf"}}

### Disk Manager

{{tffile "examples/resources/morpheus_form/resource_disk_manager.tf"}}

### Plan

{{tffile "examples/resources/morpheus_form/resource_plan.tf"}}

### Field Groups

{{tffile "examples/resources/morpheus_form/resource_field_groups.tf"}}

### Environment

{{tffile "examples/resources/morpheus_form/resource_environment.tf"}}

### Servers Input

{{tffile "examples/resources/morpheus_form/resource_servers_input.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/morpheus_form/import.sh" }}
