---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "morpheus"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/resources/morpheus_library_container_type/example.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the resource ID.

```bash
terraform import hpe_morpheus_library_container_type.example 123
```
