resource "hpe_morpheus_backup" "example" {
  name            = "{{.Name}}"
  instance_id     = {{.InstanceId}}
  backup_type     = "{{.BackupType}}"
  retention_count = {{.RetentionCount}}
  enabled         = {{.Enabled}}
}
