resource "hpe_morpheus_container_script" "example" {
  name          = "{{.Name}}"
  script_phase  = "{{.ScriptPhase}}"
  script_type   = "{{.ScriptType}}"
  script        = {{.Script}}
  sudo_user     = {{.SudoUser}}
  fail_on_error = {{.FailOnError}}
}
