resource "hpe_morpheus_workflow_provisioning" "example" {
  name        = "{{.Name}}"
  description = "{{.Description}}"
  labels      = {{.Labels}}
  platform    = "{{.Platform}}"
  visibility  = "{{.Visibility}}"
}
