resource "hpe_morpheus_credential" "tf_example_credential_username_api_key" {
  name        = "{{.Name}}"
  description = "{{.Description}}"
  enabled     = {{.Enabled}}
  type        = "{{.Type}}"
  username    = "{{.Username}}"
  api_key     = "{{.ApiKey}}"
}
