resource "hpe_morpheus_credential" "tf_example_credential_access_key_secret" {
  name        = "{{.Name}}"
  description = "{{.Description}}"
  enabled     = {{.Enabled}}
  type        = "{{.Type}}"
  access_key  = "{{.AccessKey}}"
  secret_key  = "{{.SecretKey}}"
}
