resource "hpe_morpheus_credential" "tf_example_credential_client_id_secret" {
  name          = "{{.Name}}"
  description   = "{{.Description}}"
  enabled       = {{.Enabled}}
  type          = "{{.Type}}"
  client_id     = "{{.ClientId}}"
  client_secret = "{{.ClientSecret}}"
}
