---
layout: ""
page_title: "{{.ProviderShortName}} Provider"
subcategory: ""
description: |-
  This is the hpe terraform provider
---

# {{.ProviderShortName}} Provider

This is the hpe terraform provider which is still in development.  It will eventually replace the
[HPE GreenLake Terraform Provider](https://registry.terraform.io/providers/HPE/hpegl/latest) and the
[Morpheus Terraform Provider](https://registry.terraform.io/providers/gomorpheus/morpheus/latest).

Initially this provider will support Morpheus, but will in time expand to cover other HPE offerings.

This provider requires 64-bit versions of the terraform binary to work properly.

->In some circumstances users may need to use this provider and the [Morpheus Terraform Provider](https://registry.terraform.io/providers/gomorpheus/morpheus/latest)
in the same configuration.  To ensure that Morpheus API SSL cert checking is consistent across both providers
the `MORPHEUS_API_SECURE` environment variable (set to true) can be used to enable SSL cert checking in the Morpheus provider.
This environment variable is supported by versions 0.14.0 and later of the Morpheus provider.  Note that
Morpheus API SSL cert checking is enabled by default in this provider.

## Morpheus

This provider can be used to manage Morpheus resources.  Support will grow over time.  See below for
release notes for the current version (v0.0.1).

### Authentication

There are two ways to authenticate with Morpheus:
1. Using a username and password
2. Using an access_token

With either method the URL of the Morpheus instance must be provided as `url`.

By default the provider will check the Morpheus server certificate and will fail if it is not valid.  This can be
be toggled off by setting `insecure` to `true` in the provider block.

### Example Usage

#### Using a username and password

{{ tffile "examples/provider/morpheus/provider-unamepasswd.tf" }}

#### Using an access token

{{ tffile "examples/provider/morpheus/provider-accesstoken.tf" }}

#### Using an access token with insecure

{{ tffile "examples/provider/morpheus/provider-insecure.tf" }}

## Release Notes

### New functionality
->The `hpe_morpheus_user` resource uses a `WriteOnly` password field.  `WriteOnly` attributes are supported
by Terraform versions 1.11 and later.

->The `hpe_morpheus_instance` and `hpe_morpheus_network` resources use a `Dynamic` attribute for `config`.  This means
that the `config` block can contain arbitrary nested attributes which will be evaluated at run-time.  Examples of these
are shown in the documentation.


In this release (v0.0.1) the following resources have been added:
- hpe_morpheus_cloud for HPE HVM or HPE VME clouds
- hpe_morpheus_group
- hpe_morpheus_instance for HPE HVM or HPE VME instances (Create, Delete and Read - no Update)
- hpe_morpheus_network
- hpe_morpheus_role for Morpheus roles (user and tenant)
- hpe_morpheus_service_plan (Create, Delete and Read - no Update)
- hpe_morpheus_user (Create, Delete and Read - no Update)

In this release (v0.0.1) the following data sources have been added:
- hpe_morpheus_cloud
- hpe_morpheus_environment
- hpe_morpheus_group
- hpe_morpheus_instance_type_layout
- hpe_morpheus_network
- hpe_morpheus_role
- hpe_morpheus_service_plan

### Known Issues

- hpe_morpheus_instance has issues with using the same `datastore_id` with multiple volumes, please use
  a different `datastore_id` for each volume.
- hpe_morpheus_network switchId is not supported yet, prevents creating some network types, eg OVS Port Group
- hpe_morpheus_user will force recreation if an attribute is updated

{{ .SchemaMarkdown | trimspace }}
