resource "hpe_morpheus_instance_clone" "example" {
  source_instance_id = {{.SourceInstanceId}}
  name               = "{{.Name}}"
{{- if .UserGroup}}
  user_group = {{.UserGroup}}
{{- end}}

  volumes {
    name        = "root"
    size        = 20
    root_volume = true
{{- if .StorageProfile}}
    storage_profile = "{{.StorageProfile}}"
{{- end}}
  }

  network_interfaces {
    network_id = {{.NetworkId}}
    ip_mode    = ""
  }
}
