---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage - Name

{{ tffile "examples/data-sources/morpheus_network_router/example-name.tf" }}

## Example Usage - Id

{{ tffile "examples/data-sources/morpheus_network_router/example-id.tf" }}

{{ .SchemaMarkdown | trimspace }}
