---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Morpheus"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

{{ tffile "examples/data-sources/morpheus_backup_job/example-id.tf" }}

{{ tffile "examples/data-sources/morpheus_backup_job/example-name.tf" }}

{{ .SchemaMarkdown | trimspace }}
