---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
  Provides a Network Domain data source. This can be used to reference an existing Network Domain by name or id.
---
# {{.Name}} ({{.Type}})

Provides a Network Domain data source. This can be used to reference an existing Network Domain by name or id.

## Example Usage - Name

{{tffile "examples/data-sources/morpheus_network_domain/example-name.tf"}}

## Example Usage - Id

{{tffile "examples/data-sources/morpheus_network_domain/example-id.tf"}}


{{ .SchemaMarkdown | trimspace }}