---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Morpheus"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage - Name

{{ tffile "examples/data-sources/morpheus_cluster_namespace/example-name.tf" }}

## Example Usage - Id

{{ tffile "examples/data-sources/morpheus_cluster_namespace/example-id.tf" }}

{{ .SchemaMarkdown | trimspace }}
