---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Datastores are used to provide storage for virtual machines and instances within a cloud environment.
They can represent various types of storage backends, such as NFS shares, iSCSI or FC targets (such as AlletraMP),
or cloud-based storage services.

-> If a datastore with the specified name cannot be found (i.e. the corresponding list API request fails), the error
message will indicate a 403 (Forbidden) even if the user has permission to list datastores.  This is an API bug which
is being investigated.

## Example Usage

{{ tffile "internal/framework/subproviders/morpheus/datasources/datastore/example-id.tf" }}

{{ tffile "internal/framework/subproviders/morpheus/datasources/datastore/example-name.tf" }}

{{ .SchemaMarkdown | trimspace }}
