---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Of the default Morpheus Cloud types available, only VMWare Clouds support Cloud Folders.

## Example Usage

{{ tffile "internal/framework/subproviders/morpheus/datasources/cloud_folder/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}
