---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Morpheus"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

A storage volume type can be looked up by `id` or `name`. When looking up by
`name`, an optional `code` and/or `category` can be supplied to filter the results
to a single storage volume type.

## Example Usage

{{tffile "examples/data-sources/morpheus_storage_volume_type/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}
