---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Policies are different rules that can be applied to various Morpheus resources.
The policy datasource provides information on existing policies such as their associated
resource type and id and their configuration (which is provided as both a dynamic and static schema).

## Example Usage

Get a `policy` by `id`
{{ tffile "morpheus/framework/datasources/policy/example-id.tf" }}

Get a `policy` by `name`
{{ tffile "morpheus/framework/datasources/policy/example-name.tf" }}


{{ .SchemaMarkdown | trimspace }}
