resource "hpe_morpheus_task_python_script" "{{.Name}}" {
  name                = "{{.Name}}"
  code                = "{{.Code}}"
  labels              = {{.Labels}}
  source_type         = "{{.SourceType}}"
  result_type         = "{{.ResultType}}"
  script_path         = "{{.ScriptPath}}"
  version_ref         = "{{.VersionRef}}"
  repository_id       = {{.RepositoryId}}
  command_arguments   = "{{.CommandArguments}}"
  additional_packages = "{{.AdditionalPackages}}"
  python_binary       = "{{.PythonBinary}}"
  retryable           = {{.Retryable}}
  retry_count         = {{.RetryCount}}
  retry_delay_seconds = {{.RetryDelaySeconds}}
  allow_custom_config = {{.AllowCustomConfig}}
}
