resource "hpe_morpheus_network_firewall_rule_group" "example" {
  network_integration_id = {{.NetworkIntegrationId}}
  name              = "{{.Name}}"
  external_type     = "{{.ExternalType}}"
  description       = "{{.Description}}"
  priority          = {{.Priority}}
  group_layer       = "{{.GroupLayer}}"
}
