resource "hpe_morpheus_network_router_nat" "example" {
  router_id          = {{.RouterId}}
  name               = "{{.Name}}"
  action             = "{{.Action}}"
  source_network     = "{{.SourceNetwork}}"
  translated_network = "{{.TranslatedNetwork}}"
  description        = "{{.Description}}"
}
