resource "hpe_morpheus_network_domain" "example" {
  name        = "{{.Name}}"
  description = "{{.Description}}"
  public_zone = {{.PublicZone}}
  visibility  = "{{.Visibility}}"
  tenant_id   = {{.TenantId}}
  active      = {{.Active}}
}
