resource "hpe_morpheus_certificate" "example" {
  name        = "{{.Name}}"
  cert_file   = {{.CertFile}}
  key_file    = {{.KeyFile}}
  domain_name = "{{.DomainName}}"
  description = "{{.Description}}"
}
