resource "hpe_morpheus_library_layout" "example" {
  instance_type_id    = {{.InstanceTypeId}}
  name                = "{{.Name}}"
  instance_version    = "{{.InstanceVersion}}"
  provision_type_code = "{{.ProvisionTypeCode}}"
  description         = "{{.Description}}"
  creatable           = {{.Creatable}}
}
