resource "hpe_morpheus_policy" "example" {
  name = "{{.Name}}"
  description = "Example global policy"
  associated_resource_type = "Global"
  enabled = true
  
  policy_type = {
    code = "{{.PolicyTypeCode}}"
  }
  
  config = {
    maxMemory = {{.MaxMemory}}
  }
}
