resource "hpe_morpheus_policy" "user_policy" {
  name = "{{.Name}}"
  description = "Example user-scoped policy"
  associated_resource_type = "User"
  associated_resource_id = {{.UserID}}
  enabled = true
  
  policy_type = {
    code = "{{.PolicyTypeCode}}"
  }
  
  config = {
    maxMemory = {{.MaxMemory}}
  }
}
