resource "hpe_morpheus_policy" "group_policy" {
  name = "{{.Name}}"
  description = "Example group-scoped policy"
  associated_resource_type = "Group"
  associated_resource_id = {{.GroupID}}
  enabled = true
  
  policy_type = {
    code = "{{.PolicyTypeCode}}"
  }
  
  config = {
    maxMemory = {{.MaxMemory}}
  }
}
